<!DOCTYPE html>
<html lang="en" data-theme="emerald">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" />
    <meta name="author" content="Reza Yogaswara" />
    <meta name="website" content="https://me.rezayogaswara.com" />
    <meta name="version" content="1.0.0" />
    <meta name="description" content="Big Data Jatim" />
    <meta name="keywords" content="Big Data Jatim" />
    <title>Progres PTSL 2k22</title>
    <style>
        @import url("{{ url_for('main.static', filename='css/style.css') }}");
    </style>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.3.4/dist/datepicker.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
</head>

<body class="font-quicksand bg-white">
    <div class="card w-full p-5">
        <div class="card-body">
            <h2 class="card-title">REALISASI PROGRES PENDAFTARAN TANAH SISTEMATIS LENGKAP (PTSL) RUPIAH MURNI</h2>
            <p>Kanwil BPN Provinsi Jawa Timur per Tanggal {{ d }}-{{ m }}-{{ y }}</p>
            <div class="card-actions justify-end">
                <div class="flex items-center gap-2">
                    <div class="form-control">
                        <div class="input-group">
                            <!--
                            <div class="relative">
                                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z">
                                        </path>
                                    </svg>
                                </div>
                                <input datepicker datepicker-format="yyyy/mm/dd" datepicker-autohide type="text"
                                    id="datepicker" value="{{y}}/{{m}}/{{d}}" class="input pl-10"
                                    placeholder="Pilih tanggal" />
                            </div>
                            -->
                            <span>Pilih Tanggal</span>
                            <input datepicker datepicker-format="yyyy/mm/dd" datepicker-autohide type="text"
                                id="datepicker" value="{{y}}/{{m}}/{{d}}" class="input disabled"
                                placeholder="Pilih tanggal" />
                            <button class="btn btn-square"
                                onclick="window.location.href = '{{ base_url }}/' + document.getElementById('datepicker').value">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-square" onclick="window.location.href = '{{ base_url }}'">
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15">
                                </path>
                            </svg>
                        </button>

                        <div class="dropdown dropdown-hover dropdown-end">
                            <label tabindex="0" class="btn m-1"><svg class="w-6 h-6" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 6h16M4 12h16M4 18h16"></path>
                                </svg></label>
                            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                                <li><label for="modal-trend" class="button modal-button"><svg class="w-6 h-6"
                                            fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path>
                                        </svg>Trend</labe>
                                </li>
                                <li><label for="modal-forecast" class="button modal-button"><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z">
                                            </path>
                                        </svg>Forecast</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overflow-x-auto w-full drop-shadow-2xl">
            <table class="table table-zebra table-compact w-full">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kab/Kota</th>
                        <th>Target PBT</th>
                        <th>Target SHAT</th>
                        <th>Target K4</th>
                        <th>Survei</th>
                        <th>Pemetaan</th>
                        <th>Puldadis</th>
                        <th>Pemberkasan</th>
                        <th>Potensi K1</th>
                        <th>K1</th>
                        <th>K2</th>
                        <th>K3.1/K3.2/K3.3</th>
                        <th>K4</th>
                        <th>KW456</th>
                        <th>UBT</th>
                        <th>Siap Diserahkan/Diserahkan</th>
                        <th>K1 PBT Sblmnya</th>
                        <th>% Cap. PBT</th>
                        <th>% Cap. SHAT</th>
                        <th>% Cap. K4</th>
                        <th>Tanggal Pengambilan</th>
                    </tr>
                </thead>
                <tbody>
                    {% if data|length > 0 %}
                    {% for result in data %}
                    <tr>
                        <td></td>
                        <td>{{ result.kabupaten_kota }}</td>
                        <td class="text-right">{{ result.target_pbt }}</td>
                        <td class="text-right">{{ result.target_shat }}</td>
                        <td class="text-right">{{ result.target_k4 }}</td>
                        <td class="text-right">{{ result.survei }}</td>
                        <td class="text-right">{{ result.pemetaan }}</td>
                        <td class="text-right">{{ result.puldadis }}</td>
                        <td class="text-right">{{ result.pemberkasan }}</td>
                        <td class="text-right">{{ result.potensi_k1 }}</td>
                        <td class="text-right">{{ result.k1 }}</td>
                        <td class="text-right">{{ result.k2 }}</td>
                        <td class="text-center">{{ result.k31 }}/{{ result.k32 }}/{{ result.k33 }}</td>
                        <td class="text-right">{{ result.k4 }}</td>
                        <td class="text-right">{{ result.kw456 }}</td>
                        <td class="text-right">{{ result.unggah_bt }}</td>
                        <td class="text-center">{{ result.siap_diserahkan }}/{{ result.diserahkan }}</td>
                        <td class="text-right">{{ result.k1_pbt_sebelumnya }}</td>
                        <td class="text-right">{{ result.persen_capaian_pbt }}</td>
                        <td class="text-right">{{ result.persen_capaian_shat }}</td>
                        <td class="text-right">{{ result.persen_capaian_k4 }}</td>
                        <td class="text-center">{{ result.created_at }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="22">
                            <div class="w-full bg-base-100">
                                <figure class="w-80 hero container max-w-screen-lg mx-auto flex justify-center">
                                    <img src="{{ url_for('main.static', filename='images/no-data.png') }}" alt="Shoes"
                                        class="object-scale-down">
                                </figure>
                                <div class="card-body items-center text-center">
                                    <h2 class="card-title">Tidak ada data!</h2>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Kab/Kota</th>
                        <th>Target PBT</th>
                        <th>Target SHAT</th>
                        <th>Target K4</th>
                        <th>Survei</th>
                        <th>Pemetaan</th>
                        <th>Puldadis</th>
                        <th>Pemberkasan</th>
                        <th>Potensi K1</th>
                        <th>K1</th>
                        <th>K2</th>
                        <th>K3.1/K3.2/K3.3</th>
                        <th>K4</th>
                        <th>KW456</th>
                        <th>UBT</th>
                        <th>Siap Diserahkan/Diserahkan</th>
                        <th>K1 PBT Sblmnya</th>
                        <th>% Cap. PBT</th>
                        <th>% Cap. SHAT</th>
                        <th>% Cap. K4</th>
                        <th>Tanggal Pengambilan</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <input type="checkbox" id="modal-trend" class="modal-toggle">
    <div class="modal">
        <div class="modal-box relative">
            <label for="modal-trend" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="text-lg font-bold">Trend</h3>
            <p class="py-4">
                <img src="/ptsl/graph/params" alt="my plot">
            </p>
        </div>
    </div>

    <input type="checkbox" id="modal-forecast" class="modal-toggle">
    <div class="modal">
        <div class="modal-box relative">
            <label for="modal-forecast" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="text-lg font-bold">Forecast</h3>
            <p class="py-4">
                <img src="/ptsl/graph/forecast" alt="my plot">
            </p>
        </div>
    </div>
</body>
</html>